# Core
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

# Beamer
*.nav
*.vrb
*.snm

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

# Emacs/Auctex
*.el
